@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --sidebar-text-mouseover-color: rgb(240, 180, 41);
  /* --sidebar-text-color: rgb(215, 242, 255); */
  --sidebar-text-color: rgb(240, 250, 255);
}


html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

svg {
  /* vertical-align: center; */
  display: block;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 200px auto;
  grid-template-columns: 340px auto;
}

.sidebar-container {
  background-color: rgb(25, 146, 212);
  grid-area: 1 / 1 / -1 / 1;
  /* padding-top: 28px; */
  width: 100%;
  z-index: 2;
}

.sidebar-section:nth-child(1) {
  margin-bottom: 40px;
}

.sidebar-section {
  margin-bottom: 50px;
}

.sidebar-section:nth-last-child(1) {
  margin-bottom: 0px;
}

.sidebar-element {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
  height: 52px;
  padding-left: 28px;
  transition: background-color 1.5s;
}

.sidebar-element:hover {
  background-color: rgb(71, 176, 233);
  transition: background-color 0.7s;
}

.sidebar-element:active {
  background-color: rgb(118, 207, 255);
  transition: background-color 0.1s;
}

.sidebar-element.title {
  height: 100px;
}

.sidebar-icon {
  fill: var(--sidebar-text-color);
  height: 18px;
  width: 38px;
  transition: fill 0.5s;
}

.sidebar-text {
  color: var(--sidebar-text-color);
  font-weight: 600;
  font-size: 24px;
  transition: color 0.5s;
}

.sidebar-icon.title {
  height: 38px;
}

.sidebar-text.title {
  font-size: 32px;
}

.sidebar-icon.communities {
  height: 15px;
}

.header-container {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: auto;
  padding: 28px 60px;
  row-gap: 24px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.header-section1 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(200px, 2fr) 1fr;
  column-gap: 100px;
  align-items: center;
}

.searchbar {
  position: relative;
  width: 100%;
}

.searchbar-icon {
  position: absolute;
  fill: rgb(48, 48, 48);
  height: 16px;
  left: 1em;
  top: 0.7em;
}

.searchbar-input {
  box-sizing: border-box;
  border: 0;
  border-radius: 20em;
  padding: 10px;
  padding-left: 45px;
  background-color: rgb(226, 232, 240);
  height: 100%;
  width: 100%;
  font-size: 1.1em;
  outline: 1px solid transparent;
  transition: outline-color 0.5s; 
}

.searchbar-input:focus {
  outline: 1px solid rgb(157, 163, 172);
}

.account {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  justify-self: end;
  column-gap: 20px;
  line-height: 2.2ch;
}

.account-notification {
  height: 25px;
}

.user-avatar {
  height: 42px;
  fill: rgb(240, 180, 41);
}

.account-name > a {
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  transition: color 0.5s;
}

.account-name > a:hover {
  color: rgb(83, 83, 83);
}

.header-section2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  column-gap: 100px;
}

.welcome {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  align-items: center;
  column-gap: 20px;
}

.welcome > a > .user-avatar {
  height: 70px;
}

.welcome-text > p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: 500;
}

.welcome-name > a {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 105%;
  color: black;
  transition: color 0.5s;
}

.welcome-at-name > a {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  transition: color 0.5s;
}

.welcome-name > a:hover, .welcome-at-name > a:hover {
  color: rgb(83, 83, 83);
}

.welcome-buttons {
  display: grid;
  align-items: center;
  justify-self: end;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 26px;
}

.welcome-buttons > button {
  border: 0;
  outline: 0;
  border-radius: 20em;
  padding: 12px 24px;
  background-color: rgb(25, 146, 212);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  width: 100px;
  cursor: pointer;
  transition: background-color 1.5s;
}

.welcome-buttons > button:hover {
  background-color: rgb(71, 176, 233);
  transition: background-color 0.5s;
}

.welcome-buttons > button:active {
  /* background-color: rgb(151, 219, 255); */
  background-color: rgb(118, 207, 255);
  background-color: rgb(118, 228, 255);
  /* background-color: rgb(31, 248, 255); */
  transition: background-color 0.1s;
}

.main-container {
  background-color: rgb(226, 232, 240);
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
  padding: 40px 30px 80px;
  gap: 60px 20px;
}

.projects-container {
  /* background-color: rgb(245, 174, 186); */
  grid-area: 1 / 1 / -1 / 2;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 14px;
}

.project-card-container {
  grid-area: 2 / 1 / -1 / -1;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 36px 30px;
  grid-auto-rows: 1fr;
}

.project-card {
  position: relative;
  top: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 0.6em;
  border-left: 11px solid rgb(240, 180, 41);
  box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.05);
  padding: 36px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 6px;
  transition: top 0.3s ease-in-out, box-shadow 0.4s;
}

.project-card:hover {
  top: -4px;
  box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.08);
  /* color: rgb(25, 146, 212); */
}

.card-title {
  font-size: 1.37rem;
  font-weight: 600;
  transition: color 1s;
}

.card-title > a {
  color: black;
}

.card-body {
  color: rgb(99, 99, 99);
  font-size: 1.2rem;
}

.card-body > a {
  color: rgb(99, 99, 99);
}

.card-icon-container {
  display: grid;
  justify-self: end;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  /* transition: fill 1s; */
}

.card-icon-container > a {
  /* fill: black; */
  transition: fill 1s;
  align-self: center;
  justify-self: center;
}

/* .card-icon-container > a:hover {
  fill: rgb(25, 146, 212);
  transition: fill 0.3s;
}

.card-icon-container > a:active {
  fill: rgb(118, 207, 255);
  transition: fill 0.2s;
} */

.on {
  fill: rgb(25, 146, 212);
}

.hover {
  fill: rgb(71, 176, 233);
  transition: fill 0.4s;
}

.active {
  fill: rgb(118, 207, 255);
  fill: rgb(206, 238, 255);
  fill: rgb(31, 248, 255);
  transition: fill 0.3s;
}

/* .card-icon:hover {
  fill: rgb(71, 176, 233);
  transition: fill 0.3s;
} */

/* .card-icon:active {
  fill: rgb(118, 207, 255);
  transition: fill 0.2s;
} */

.card-icon {
  width: 38px;
  height: 38px;
  transition: fill 0.6s, opacity 0.5s;
}

.card-icon.fork1 {
  height: 32px;
  width: 32px;
}

/* .watch {
  position: relative;
} */

.card-icon.favorite1, .card-icon.watch1 {
  position: absolute;
  bottom: 36px;
}

.opacity0 {
  opacity: 0;
}

.opacity1 {
  opacity: 1;
}

.announcements-container {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 14px;
}

.announcements-card-container {
  position: relative;
  top: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 0.6em;
  box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.05);
  padding: 36px;
  display: grid;
  grid-template-rows: auto 2px auto 2px auto;
  grid-template-columns: 1fr;
  row-gap: 20px;
  transition: top 0.3s ease-in-out, box-shadow 0.4s;
}

.announcements-card-container:hover {
  top: -4px;
  box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.08);
}

.announcements-card { 
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  row-gap: 2px; 
}

.announcement-title a {
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
}

.announcement-body a {
  font-size: 0.9rem;
  color: rgb(99, 99, 99);
  display: -webkit-box;
  /* -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis; */
}

hr {
  border: 0;
  margin: 0;
  height: 1px;
  /* width: 100%; */
  background-color: rgb(210, 210, 210);
}

.trending-container {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 14px;
}

.trending-card-container {
  position: relative;
  top: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 0.6em;
  box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.05);
  padding: 36px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 20px;
  transition: top 0.3s ease-in-out, box-shadow 0.4s;
}

.trending-card-container:hover {
  top: -4px;
  box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.08);
}

.trending-user {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 60px 1fr;
  row-gap: 4px;
  column-gap: 20px;
}

.trending-user-avatar {
  width: 60px;
  grid-area: 1 / 1 / -1 / 2;
  align-self: center;
}

.trending-user-name {
  align-self: end;
}

.trending-user-name > a {
  color: black;
  font-size: 1.05rem;
  font-weight: 500;
}

.trending-user-project {
  align-self: top;
  line-height: 1.6ch;
}

.trending-user-project > a {
  color: rgb(99, 99, 99);
  font-size: 1.05rem;
}

.trending-card-container > .trending-user:nth-of-type(1) > .trending-user-avatar {
  fill: rgb(179, 221, 235);
}

.trending-card-container > .trending-user:nth-of-type(2) > .trending-user-avatar {
  fill: rgb(245, 226, 176);
}

.trending-card-container > .trending-user:nth-of-type(3) > .trending-user-avatar {
  fill: rgb(196, 196, 196);
}

.trending-card-container > .trending-user:nth-of-type(4) > .trending-user-avatar {
  fill: rgb(243, 202, 202);
}

.main-title {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 600;
}

@media only screen and (max-width: 1560px) {
  .main-container {
    /* background-color: rgb(226, 232, 240); */
    /* grid-area: 2 / 2 / -1 / -1; */
    /* display: grid; */
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* padding: 40px 30px 80px; */
    /* gap: 60px 20px; */
    column-gap: 30px;
  }

  .projects-container {
    /* background-color: rgb(245, 174, 186); */
    grid-area: 1 / 1 / -1 / -1;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 14px;
  }


}

